@charset "UTF-8";
<meta name="viewport" content="width=device-width, initial-scale=1.0" target="_blank">

body {margin: 0; 
	background-color:gray;
}

nav{
    width:100%;
    margin:0;
  }

  nav ul{
    list-style-type: none;
    margin-left: -10;
      margin-top:0;
    padding: 0;
    overflow: hidden;
    background-color: lightpink;
    font-family:courier;
    font-size: 125%;
  }
  
ul.topnav {
  list-style-type: none;
  margin:0;
  margin-top: -10;
  margin-left:-10;
  margin-bottom:10;
  padding: 0;
  overflow: hidden;
font-family: 'M PLUS 1 Code', sans-serif;
  font-size: 30px;
   background: linear-gradient(90deg, 
     rgba(228, 88, 202,  0) 0%, 
     rgba(228, 88, 202,  0.25) 25%, 
     rgba(228, 88, 202,  0.25) 75%, 
     rgba(228, 88, 202,  0) 100%); b
    box-shadow: 0 0 5px rgba(0, 0, 0, .4),
     inset 0 0 1px rgba(30, 223, 192, 0.6);
}

ul.topnav li {float: left;}

ul.topnav li a {
  margin:0;
  display: block;
  color: black;  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
font-family: 'M PLUS 1 Code', sans-serif;
  font-size: 100%;
   font-style: oblique;
   background-color: rgba(88, 228, 95,.23);
}

ul.topnav li a:hover:not(.active) {background-color: rgba(88, 228, 95,.6);}

ul.topnav li a.active {background-color: rgba(88, 228, 95,.43);
	font-size: 100%;}

ul.topnav li.right {float: right;}
ul.topnav li.dropdownIcon{
    display: none;
}
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

a:link,a:active,a:visited{ color: white;
      text-decoration: none;}
      
a:hover {color:#5F5F5F;}


body {margin: 0;
  padding: 10px;
  width: 100%;
  height: 100vh;
	background-image: url("/clouds1.jpeg");}

.title { color: white;
	font-family: 'M PLUS 1 Code', sans-serif;
	font-size: 35px;
    padding-left: 10px;
    text-shadow: 0px 0px 9px rgba(255,255,255,.3), 0 0 25px orange, 0 0 5px darkblue;} 
.date {color: white;
font-family: 'M PLUS 1 Code', sans-serif;
    font-style: oblique;
	font-size: 30px;
    padding-left: 10px;
    padding-top:10px;
    text-shadow: 0px 0px 9px rgba(255,255,255,.3), 0 0 25px rgba(228, 88, 202,  0.9), 0 0 5px darkblue;
} 
p {color: white;
    font-family: 'M PLUS 1 Code', sans-serif;
	font-size: 30px;
    padding-left: 10px;
    margin:0;
    padding-top:10px;
    text-shadow: 0px 0px 9px rgba(255,255,255,.3), 0 0 25px red, 0 0 5px darkblue;} 

s1 {color: white;
   font-family: 'M PLUS 1 Code', sans-serif;
  font-size:150%;
  padding:3px 3px 3px 3px;

}
h4 {color: #000000;
	font-family: 'M PLUS 1 Code', sans-serif;
		font-size: 100%;}
.cards {
	grid-gap: 20px;
  padding-left: 10px;
	margin: 0;
  display: grid;
  grid-gap: 0em 10em;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	
}


.playlist {
	box-shadow: 0 0 1px .2px grey;
	margin-top: 50;
	margin-bottom: 50;
	margin-left: 50;
	margin-right: 50;
	font-family:courier;
	background-image:url("/flowers1.jpg");
	background-size:cover;
	align-self: safe center;
	border-radius:  100% 69% 70% 48% / 60% 100% 42% 85%;
	height:auto;
	padding-top:40px;
	padding-bottom: 40px;
  box-shadow: 0px 0px 5px white, 0px 0px 25px rgba(228, 88, 202,  0.9), 0px 0px 5px grey;

}

.playlist:hover{
  box-shadow: 0px 0px 5px white, 0px 0px 25px yellow, 0px 0px 5px #FE8002;
}
.content {
  padding: 10px;
	color: white;
	text-align: center;
	 text-shadow: 0px 0px 1px white, 0px 0px 10px rgba(228, 88, 202,  0.9), 0px 0px 5px grey;
}

ul.a { font-family: 'Trebuchet MS', sans-serif;
	font-size: 20px;
    list-style-type:none;
     margin: 0;

  padding: 10px 15px 10px 10px;
}

.playlist footer{
 font-family: 'Trebuchet MS', sans-serif;
	  font-size: 25px;
    list-style-type:none;
	text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(15, 245, 233), 0 0 5px lightskyblue;

}
.playlist header{
	font-family: 'Trebuchet MS', sans-serif;
	font-style: oblique;
	font-size: 25px;
	color: #ffffff;
	text-align: center;
	text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px rgb(27, 209, 20);
}
