@charset "UTF-8";
/* CSS Document */<meta name="viewport" content="width=device-width, initial-scale=1.0" target="_blank">
<style>
body {margin: 0;background-color:white }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFEBEE;
  font-family:courier;
  font-size: 125%;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:courier;
  font-size: 100%;
   font-style: oblique;
}

ul.topnav li a:hover:not(.active) {background-color: #FCE964;}

ul.topnav li a.active {background-color: #1EDFC0;
	font-size: 100%;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

a:link,a:active,a:visited{ color: blue;
      text-decoration: none;}
      
a:hover {color:#1E90FF;}

h1 {color: #000000;
	font-family:courier;
	font-size: 300%;
       padding: 0px;
	   padding-left: 10px;} 
 h2 {color: #1EDFC0;
	font-family:courier;
    font-style: oblique;
	font-size: 200%;
      padding: 0px;
	   padding-left: 10px;} 
 h3 {color: blue;
    font-family:courier;
	font-size: 175%;
    padding: 0px;
	   padding-left: 10px;} 
h4 {color: #000000;
	font-family:courier;
		font-size: 150%;
	   padding: 0px;
	   padding-left: 10px;}
s1{ color: #1EDFC0;
	font-family:courier;
		font-size: 100%;}
p { color: #1E90FF;
	font-family:courier
		font-size: 100%;}
	i.a {visibility:hidden;}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
 cursor: pointer;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
	  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

