@charset "UTF-8";
<meta name="viewport" content="width=device-width, initial-scale=1.0" target="_blank">

body {margin: 0; background-color:white }

ul.topnav {
  list-style-type: none;
  margin-left: -10;
  padding: 0;
  overflow: hidden;
  background-color: lightpink;
  font-family:courier;
  font-size: 125%;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:courier;
  font-size: 100%;
   font-style: oblique;
}

ul.topnav li a:hover:not(.active) {background-color: #feff9c;}

ul.topnav li a.active {background-color: #1EDFC0;
	font-size: 100%;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

a:link,a:active,a:visited{ color: blue;
      text-decoration: none;}
      
a:hover {color:#1E90FF;}


body {margin: 0;
  padding: 10px;
  
  width: 100%;
  height: 100vh;
	background-size: 2em 2em;}
.title { color: #000000;
	font-family:courier;
	font-size: 150%;
	background-color: white;
    padding-left: 10px;} 
.date {color: #1EDFC0;
	font-family:courier;
    font-style: oblique;
	font-size: 125%;
    padding-left: 10px;
	background-color: white;} 
p {color: blue;
    font-family:courier;
	font-size: 125%;
    padding: 10px;} 
s1 {color: black;
   font-family: courier;
  font-size:150%;
  padding:3px 3px 3px 3px;
}
h4 {color: #000000;
	font-family:courier;
		font-size: 100%;}
.cards {
	grid-gap: 20px;
  padding-left: 10px;
	margin: 0;
  display: grid;
  grid-gap: 0em 10em;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	 background: white;
}

.playlist {
  border-style: outset;
	box-shadow: 0 0 0 8px #E0E0E0;
	margin-top: 100;
	margin-bottom: 100;
	margin-left: 50;
	margin-right: 50;
	font-family:courier;
	background-color: rgba(255, 182, 193, 0.7);
	align-self: safe center;
}

.content {
  padding: 10px;
}

ul.a {font-family:courier;
	font-size: 15px;
    list-style-type:none;
     margin: 0;
  padding: 10px 15px 10px 10px;
}

.playlist footer{
font-family:courier;
	  font-size: 15px;
    list-style-type:none;
    background-color:#feff9c;  
   padding: 10px;
	border-top: solid black 2px;
}
.playlist header{
font-family:courier;
	font-size: 15px;
    margin: 0;
	background-color: #7afcff;
	border-bottom: solid black 2px;
    padding: 15px 15px 10px 8px;
	background-color:#1EDFC0;
}
